
body {
  font: normal 18px "Arial", sans-serif;
  background-color: #E8E8E8;
  padding: 10;
  margin: 10;
}

#session {
  background-image: url('/images/nacional_gas.jpg');
  background-size: 100%;
  min-width: 300px;
  max-width: 2560px;
  background-repeat: no-repeat;
  height: 300px;
}

#session_menu {
  background-color: white;
  opacity: 0.8;
  position: fixed;
  width: 100%;
}

#session li {
  margin-top: 10px;
  display: inline-block;
}

#session a { 
  color: black;
  padding: 0px 0px;
}

.session {
  text-align: center;
}

#bottons_session, .botton_session {
  width: 100px;
  height: 40px;
  margin: 5px;
  margin-bottom: 14px;
}

.botton_session a:hover {
  position: relative;
  top: 1px;
  bottom: 1px;
}

#logo {
  width: 210px;
  height: 60px;
  margin: 0px 10px 4px 0px;
}

#nacional_logo {
  width: 180px;
  height: 57px;
  margin-left: 8px;
}

#page {
  width: 80%;
  margin: 0 auto;  
  background-color: #E8E8E8;    
}

#content { 
  font: normal 14px "Arial", sans-serif;
}

#footer { 
  background-image: url('/images/back_one.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  min-width: 40px;
  min-height: 100px;
  opacity: 0.8;
}

#footer_name {
  font: normal 16px "Impact", sans-serif;
  color: #000245;
  text-align: center;
}

#r_social {
  width: 40px;
  margin: 12px;
}

.r_social {
  text-align: center;
}

.r_social a:hover {
  position: relative;
  top: 2px;
  bottom: 2px;
}

#img_inicio {
  width: 150px;
  margin: 20px;
  margin-bottom: 5px;
}

.contorno_texto {
  text-shadow: gray 2px 2px 2px;
}

hr {
  width: 750px;
  border-style: dashed;
  border-color: #CFCFCF;
}

h1 {
  font: normal 30px "Impact" sans-serif; 
  color: #BD1128;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  text-shadow: black 1px 1px 1px;
}

h2 {
  font: normal 26px "Impact" sans-serif; 
  color: navy;
  padding: 10px;
  text-align: center;
}

h3 {
  font: normal 22px "Impact" sans-serif;
  color: navy;
  margin: 15px;
  text-align: center;
}

p { 
  font: normal 20px "Impact", sans-serif;
  text-align: center;
  color: navy;
}

ul, li {
  margin: 0;
  padding: 0; 
  list-style: none;
}

a { 
  color: navy;
  text-decoration: none;
}

a:hover {
  color: red; 
  text-decoration: none;
}

#dest_texto p {
  font: 20px "Impact" sans-serif;
  color: navy;
}

#emp_img {
  margin: 0px 15px 0px 20px;
  float: left;
}

.clear {
  clear: both;
}

#paragrafo p {
  font: normal 18px "Arial" sans-serif; 
  color: #755662;
}

#list li {
  list-style-type: circle;  
  margin: 22px; 
  font-size: 15px;
}

.img {
  text-align: center;
  margin: 25px;
}

.map {
  margin: 30px;
  text-align: center;
}

#mail {
  text-align: center;
}

.mail {
  margin: 5px 0px 20px 0px;
}

.mail:hover {
  position: relative;
  top: 2px;
  bottom: 2px;
}

#carta_email {
  opacity: 0.8;
  background: url('/images/e-mail.png') no-repeat center;
  width: 50px;
}

#carta_email:hover {
  position: relative;
  top: 2px;
  bottom: 2px;
}

.bold {
  font-weight: bold;
}

#sede {
  width: 500px;
  box-shadow: #000 2px 3px 2px;
}

.tel {
  text-shadow: navy 1px 1px 1px;
  font-size: 22px;
}

.entrega {
  width: 50px;
}

#img_atendimento {
  float: right;
  margin-left: 500px;
}

#produto_index {
  width: 160px;
}

#table_prod {
  position: relative;
  width: 80%;
  top:50%;
  left:50%;
  margin: -2px 0px 30px -363px;
  font: bold 18px "Impact", sans-serif;
  color: navy;
  opacity: 0.9;
}

#table_icons {
  position: relative;
  width: 80%;
  top:50%;
  left:50%;
  margin: -2px 0px 30px -310px;
  font: bold 18px "Impact", sans-serif;
  color: navy;
  opacity: 0.9;
}

td {
  padding: 10px;
  text-align: center;
}

.faixa_inicio {
  background-color: #DBDBDB;
}

.beta {
  text-align: right;
  font: normal 16px "Impact", sans-serif;
  color: #000245;
  margin: 0px 5px 5px 5px;
}

#img_seguranca {
  width: 40px;
  height: 200px;
}

#dicas {
  text-align: right;
  position: fixed;
  opacity: 0.7;
}

#dicas:hover {
  opacity: 1.2;
}

ol.dicas {
  font: normal 18px "Impact" sans-serif;
  color: navy;
  margin: 15px;
}

.sess {
  z-index: 1;
}

.img_seguranca {
  text-align: center;
}

#seguranca_img {
  width: 280px;
  margin: 3px 0px 3px 110px;
}

#seguranca_img_II {
  width: 200px;
  margin: 3px 0px 3px 110px;
}