---
title: Junkes Gás
---

.h1 JUNKES GÁS - DISTRIBUIDORA DE ÁGUA E GÁS 
h5 =image_tag "/images/nacionalgas.JPG", id: "sede"


h3.bold A Junkes Gás está há 15 anos no mercado, atendendo centenas de clientes em diversos bairros de Curitiba.

h3.bold Atendemos em nossa loja física no bairro Boqueirão e entregamos o seu pedido nos bairros Boqueirão, Alto-Boqueirão, Uberaba, Hauer, Xaxim e Guabirotuba.
h3.bold Nosso horário de atendimento é de Segunda á Sábado, das 08h00 às 19h00. Domingo das 08h00 às 15h00.



