---
title: Junkes Gás | Produtos
---

.h2.bold Conheça nossos Produtos

.prodini
	=image_tag "/images/produtos-nacionalgas.jpg", id: "prodini"

.h2 Atualmente trabalhamos com a família de botijões de gás LP Nacional Gás dos seguintes tamanhos:
.h2.bold P-13 (13 quilos) | P-20 (20 quilos) | P-45 (45 quilos)

.clear

.h2 Trabalhamos também com água mineral de 20 Litros, nas marcas:
.h2.bold Ouro Fino | Timbu

.prod1
	=image_tag "/images/P13.jpg", id: "gas1"

.prod2
	=image_tag "/images/p20.jpg", id: "gas2"

.prod3
	=image_tag "/images/p45.jpg", id: "gas3"

.prod4
	=image_tag "/images/ourofino.jpg", id: "agua1"

.prod5
	=image_tag "/images/timbu.jpg", id: "agua2"


.clear